make-workflows/linkedin-content-automation/workflow.json
{
    "name": "AI-Powered LinkedIn Content Automation System",
    "flow": [
        {
            "id": 2,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 6285186
            },
            "mapper": {
                "from": "drive",
                "limit": "1",
                "filter": [
                    [
                        {
                            "a": "F",
                            "b": "Ready to Post",
                            "o": "text:equal"
                        }
                    ]
                ],
                "orderBy": "G",
                "sheetId": "Posts Queue",
                "fieldType": "string",
                "sortOrder": "asc",
                "spreadsheetId": "1IZ_U_MYMVit_rLk4ySNBQqPPH2pDIrKVjgy_SDKNFkI",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "orderBy": {
                            "mode": "chose",
                            "label": "Scheduled Date (G)"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "Posts Queue"
                        },
                        "fieldType": {
                            "mode": "chose",
                            "label": "String"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": " LinkedIn Content Calendar"
                        },
                        "tableFirstRow": {
                            "label": "A-Z"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (lennismbrown@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "fieldType",
                        "type": "select",
                        "label": "Field Type",
                        "validate": {
                            "enum": [
                                "string",
                                "number",
                                "date"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "Post Type (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "Topic (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "Key Points (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "Research Focus (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "Domain Filter (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "Status (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "Scheduled Date (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "Posted Date (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "LinkedIn URL (I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "Citations Count (J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "AI Model Used (K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "Likes (L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "Comments (M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    }
                ]
            }
        },
        {
            "id": 17,
            "module": "perplexity-ai:createAChatCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 6963069
            },
            "mapper": {
                "model": "sonar-pro",
                "top_p": "0.9",
                "messages": [
                    {
                        "role": "system",
                        "content": "You are an expert research assistant specializing in DevOps, cloud infrastructure, software engineering, and technology trends. Your role is to gather comprehensive, current, and well-cited information for professional LinkedIn content. Focus on:\r\n\r\n1. Latest industry trends and statistics (2026)\r\n2. Technical best practices and methodologies\r\n3. Real-world applications and case studies\r\n4. Expert insights and professional perspectives\r\n5. Relevant tools, technologies, and frameworks\r\n\r\nProvide factual, professional content with proper citations from authoritative sources.\r\n​"
                    },
                    {
                        "role": "user",
                        "content": "Research the following topic for a professional LinkedIn post:\r\n\r\nTOPIC: \r\n\r\nKEY POINTS TO COVER:\r\n\r\n\r\nRESEARCH FOCUS:\r\n\r\n\r\nPREFERRED SOURCES (prioritize these domains):\r\n\r\n\r\nPlease provide comprehensive research including:\r\n1. Current industry trends and statistics for 2026\r\n2. Technical best practices and proven methodologies  \r\n3. Real-world examples, case studies, or implementations\r\n4. Expert opinions or notable perspectives\r\n5. Relevant tools, frameworks, or technologies\r\n6. Common challenges or pitfalls to be aware of\r\n7. Future outlook or emerging trends\r\n\r\nInclude source URLs and citations for all factual claims. Aim for depth and accuracy over breadth.\r\n​"
                    }
                ],
                "max_tokens": "2000",
                "temperature": "0.3",
                "presence_penalty": "0",
                "frequency_penalty": "0",
                "web_search_options": {
                    "search_context_size": "medium"
                },
                "search_recency_filter": "month"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "sonar-pro"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "System"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                }
                            ]
                        },
                        "return_images": {
                            "mode": "chose"
                        },
                        "web_search_options": {
                            "nested": {
                                "search_context_size": {
                                    "mode": "chose",
                                    "label": "Medium"
                                }
                            }
                        },
                        "search_domain_filter": {
                            "mode": "edit"
                        },
                        "search_recency_filter": {
                            "mode": "chose",
                            "label": "Month"
                        },
                        "return_related_questions": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "perplexity-ai"
                            },
                            "label": "My Perplexity connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:perplexity-ai",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "spec": [
                            {
                                "name": "content",
                                "type": "text",
                                "label": "Content",
                                "required": true
                            },
                            {
                                "name": "role",
                                "type": "select",
                                "label": "Role",
                                "options": [
                                    {
                                        "label": "User",
                                        "value": "user"
                                    },
                                    {
                                        "label": "Assistant",
                                        "value": "assistant"
                                    },
                                    {
                                        "label": "System",
                                        "value": "system"
                                    }
                                ],
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max Tokens"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 1.999,
                            "min": 0
                        }
                    },
                    {
                        "name": "web_search_options",
                        "spec": [
                            {
                                "name": "search_context_size",
                                "type": "select",
                                "label": "Search Context Size",
                                "validate": {
                                    "enum": [
                                        "low",
                                        "medium",
                                        "high"
                                    ]
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Web Search Options"
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_k",
                        "type": "number",
                        "label": "Top K",
                        "validate": {
                            "max": 2048,
                            "min": 0
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "min": 0
                        }
                    },
                    {
                        "name": "search_domain_filter",
                        "spec": {
                            "name": "value",
                            "type": "text"
                        },
                        "type": "array",
                        "label": "Search Domain Filter"
                    },
                    {
                        "name": "search_recency_filter",
                        "type": "select",
                        "label": "Search Recency Filter",
                        "validate": {
                            "enum": [
                                "month",
                                "week",
                                "day",
                                "hour"
                            ]
                        }
                    },
                    {
                        "name": "return_images",
                        "type": "boolean",
                        "label": "Return Images"
                    },
                    {
                        "name": "return_related_questions",
                        "type": "boolean",
                        "label": "Return Related Questions"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 18,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 20,
                            "module": "perplexity-ai:createAChatCompletion",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 6963069
                            },
                            "filter": {
                                "name": "Success Path",
                                "conditions": []
                            },
                            "mapper": {
                                "model": "sonar-pro",
                                "messages": [
                                    {
                                        "content": "You are an expert LinkedIn content writer specializing in DevOps, cloud engineering, and software development. Create an engaging, professional LinkedIn post based on this research:\r\n\r\nPOST TYPE: {{2.}}{{Post}}{{Type}}{{(A)}}\r\nTOPIC: {{2.}}{{Topic}}{{(B)}}\r\n\r\nRESEARCH FINDINGS: {{17.}}{{Choices[]}}{{:}}{{1:}}{{Message.Content}}\r\n\r\nREQUIREMENTS:\r\n- Write posts optimized for LinkedIn's algorithm and audience engagement\r\n- Include 1-2 relevant emojis for visual interest (use actual emojis, not emoji codes)\r\n- Ask an open-ended question to drive comments\r\n- Mention your Solutions Engineering experience\r\n- Reference Durham/RTP area for local engagement\r\n- Use natural formatting (NO markdown asterisks, NO bold syntax, NO brackets)\r\n- Keep it conversational and authentic\r\n- 200-280 words maximum\r\n\r\nFORMATTING RULES:\r\n- Write in plain text - LinkedIn will handle the formatting\r\n- Use line breaks for paragraphs (double line break between sections)\r\n- NO asterisks (**text**) - write naturally\r\n- NO citation brackets [1][2] - incorporate facts naturally\r\n- End with 3-5 simple hashtags (format: #DevOps #AI #CloudEngineering)\r\n- NO word count in output\r\n- NO \"---IMAGE---\" markers\r\n\r\nOUTPUT FORMAT:\r\n[Your post text here]\r\n\r\n[Hashtags on separate lines]\r\n\r\nIMAGE_DESCRIPTION: [Brief, simple description for Unsplash - max 50 words]\r\n",
                                        "role": "system"
                                    },
                                    {
                                        "content": "Create a natural, conversational LinkedIn post that:\r\n\r\n1. Opens with a compelling hook (question or bold statement with 1 emoji)\r\n2. Shares personal perspective as a Solutions Engineer\r\n3. Provides 3 actionable insights (use → arrows for bullets)\r\n4. Ends with engaging question and pointing down emoji 👇\r\n5. At the end of your post, add 4-5 relevant hashtags.\r\n\r\nCRITICAL FORMAT RULES:\r\n- Each hashtag on a NEW LINE\r\n- Start each line with # followed immediately by the word (no space)\r\n- NO brackets, NO parentheses, NO URLs, NO links\r\n- Simple format only: #DevOps\r\n\r\nExample output:\r\n#DevOps\r\n#CloudEngineering\r\n#SolutionsEngineering\r\n#Durham\r\n#RTPTech\r\n\r\nDo NOT output:\r\n- [hashtag#DevOps]\r\n- #DevOps (with any URL)\r\n- Any markdown link syntax\r\n\r\nJust plain hashtags, one per line.\r\n\r\n\r\n6. Uses simple, plain text (NO markdown, NO asterisks, NO brackets)\r\n7. Mentions Durham/RTP for local connection\r\n\r\nAfter the post, add: IMAGE_DESCRIPTION: [50-word simple description]\r\n​",
                                        "role": "user"
                                    }
                                ],
                                "max_tokens": "1500",
                                "temperature": "0.7",
                                "web_search_options": {
                                    "search_context_size": "low"
                                },
                                "top_p": "0.9"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Perplexity connection",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "perplexity-ai"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "model": {
                                            "mode": "chose",
                                            "label": "sonar-pro"
                                        },
                                        "messages": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "System"
                                                    }
                                                },
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "User"
                                                    }
                                                }
                                            ]
                                        },
                                        "web_search_options": {
                                            "nested": {
                                                "search_context_size": {
                                                    "mode": "chose",
                                                    "label": "Low"
                                                }
                                            }
                                        },
                                        "search_domain_filter": {
                                            "mode": "chose"
                                        },
                                        "search_recency_filter": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "return_images": {
                                            "mode": "chose"
                                        },
                                        "return_related_questions": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:perplexity-ai",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model",
                                        "required": true
                                    },
                                    {
                                        "name": "messages",
                                        "type": "array",
                                        "label": "Messages",
                                        "required": true,
                                        "spec": [
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Content",
                                                "required": true
                                            },
                                            {
                                                "name": "role",
                                                "type": "select",
                                                "label": "Role",
                                                "options": [
                                                    {
                                                        "label": "User",
                                                        "value": "user"
                                                    },
                                                    {
                                                        "label": "Assistant",
                                                        "value": "assistant"
                                                    },
                                                    {
                                                        "label": "System",
                                                        "value": "system"
                                                    }
                                                ],
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "name": "max_tokens",
                                        "type": "number",
                                        "label": "Max Tokens"
                                    },
                                    {
                                        "name": "temperature",
                                        "type": "number",
                                        "label": "Temperature",
                                        "validate": {
                                            "max": 1.999,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "web_search_options",
                                        "type": "collection",
                                        "label": "Web Search Options",
                                        "spec": [
                                            {
                                                "name": "search_context_size",
                                                "type": "select",
                                                "label": "Search Context Size",
                                                "validate": {
                                                    "enum": [
                                                        "low",
                                                        "medium",
                                                        "high"
                                                    ]
                                                }
                                            }
                                        ]
                                    },
                                    {
                                        "name": "top_p",
                                        "type": "number",
                                        "label": "Top P",
                                        "validate": {
                                            "max": 1,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "top_k",
                                        "type": "number",
                                        "label": "Top K",
                                        "validate": {
                                            "max": 2048,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "presence_penalty",
                                        "type": "number",
                                        "label": "Presence Penalty",
                                        "validate": {
                                            "max": 2,
                                            "min": -2
                                        }
                                    },
                                    {
                                        "name": "frequency_penalty",
                                        "type": "number",
                                        "label": "Frequency Penalty",
                                        "validate": {
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "search_domain_filter",
                                        "type": "array",
                                        "label": "Search Domain Filter",
                                        "spec": {
                                            "type": "text",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "search_recency_filter",
                                        "type": "select",
                                        "label": "Search Recency Filter",
                                        "validate": {
                                            "enum": [
                                                "month",
                                                "week",
                                                "day",
                                                "hour"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "return_images",
                                        "type": "boolean",
                                        "label": "Return Images"
                                    },
                                    {
                                        "name": "return_related_questions",
                                        "type": "boolean",
                                        "label": "Return Related Questions"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 30,
                            "module": "regexp:Replace",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "pattern": "IMAGE_DESCRIPTION:.*",
                                "value": "",
                                "global": true,
                                "sensitive": true,
                                "multiline": false,
                                "singleline": false,
                                "text": "{{{{20.choices[].message.content}}}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "global": {
                                            "mode": "chose"
                                        },
                                        "sensitive": {
                                            "mode": "chose"
                                        },
                                        "multiline": {
                                            "mode": "chose"
                                        },
                                        "singleline": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "pattern",
                                        "type": "text",
                                        "label": "Pattern",
                                        "required": true
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "New value"
                                    },
                                    {
                                        "name": "global",
                                        "type": "boolean",
                                        "label": "Global match",
                                        "required": true
                                    },
                                    {
                                        "name": "sensitive",
                                        "type": "boolean",
                                        "label": "Case sensitive",
                                        "required": true
                                    },
                                    {
                                        "name": "multiline",
                                        "type": "boolean",
                                        "label": "Multiline",
                                        "required": true
                                    },
                                    {
                                        "name": "singleline",
                                        "type": "boolean",
                                        "label": "Singleline",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 29,
                            "module": "http:MakeRequest",
                            "version": 4,
                            "parameters": {
                                "authenticationType": "noAuth",
                                "tlsType": "",
                                "proxyKeychain": ""
                            },
                            "mapper": {
                                "url": "https://api.unsplash.com/photos/random",
                                "method": "get",
                                "queryParameters": [
                                    {
                                        "name": "query",
                                        "value": "{{2.`1`}}"
                                    },
                                    {
                                        "name": "client_id",
                                        "value": "XhPSw4cBI_NiYB5xApiHYfrBENHgT4rPUP1bVAL0XGc"
                                    },
                                    {
                                        "name": "orientation",
                                        "value": "landscape"
                                    },
                                    {
                                        "name": "content_filter",
                                        "value": "high"
                                    }
                                ],
                                "parseResponse": true,
                                "stopOnHttpError": true,
                                "allowRedirects": true,
                                "shareCookies": false,
                                "requestCompressedContent": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0
                                },
                                "restore": {
                                    "parameters": {
                                        "authenticationType": {
                                            "label": "No authenticationUse when no credentials are required for the request."
                                        },
                                        "tlsType": {
                                            "label": "Empty"
                                        },
                                        "proxyKeychain": {
                                            "label": "Choose a key"
                                        }
                                    },
                                    "expect": {
                                        "method": {
                                            "mode": "chose",
                                            "label": "GET"
                                        },
                                        "headers": {
                                            "mode": "chose"
                                        },
                                        "queryParameters": {
                                            "mode": "chose",
                                            "items": [
                                                null,
                                                null,
                                                null,
                                                null
                                            ]
                                        },
                                        "contentType": {
                                            "label": "Empty"
                                        },
                                        "parseResponse": {
                                            "mode": "chose"
                                        },
                                        "stopOnHttpError": {
                                            "mode": "chose"
                                        },
                                        "allowRedirects": {
                                            "mode": "chose"
                                        },
                                        "shareCookies": {
                                            "mode": "chose"
                                        },
                                        "requestCompressedContent": {
                                            "mode": "chose"
                                        },
                                        "paginationType": {
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "authenticationType",
                                        "type": "select",
                                        "label": "Authentication type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "noAuth",
                                                "apiKey",
                                                "basicAuth",
                                                "oAuth"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "tlsType",
                                        "type": "select",
                                        "label": "Transport layer security (TLS)",
                                        "validate": {
                                            "enum": [
                                                "mTls",
                                                "tls"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "proxyKeychain",
                                        "type": "keychain:proxy",
                                        "label": "Proxy"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "get",
                                                "head",
                                                "post",
                                                "put",
                                                "patch",
                                                "delete",
                                                "options"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "type": "array",
                                        "label": "Headers",
                                        "spec": {
                                            "name": "value",
                                            "label": "Header",
                                            "type": "collection",
                                            "spec": [
                                                {
                                                    "name": "name",
                                                    "label": "Name",
                                                    "type": "text",
                                                    "required": true,
                                                    "validate": {
                                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                                    }
                                                },
                                                {
                                                    "name": "value",
                                                    "label": "Value",
                                                    "type": "text"
                                                }
                                            ]
                                        }
                                    },
                                    {
                                        "name": "queryParameters",
                                        "type": "array",
                                        "label": "Query parameters",
                                        "spec": {
                                            "name": "value",
                                            "label": "Parameter",
                                            "type": "collection",
                                            "spec": [
                                                {
                                                    "name": "name",
                                                    "label": "Name",
                                                    "type": "text",
                                                    "required": true
                                                },
                                                {
                                                    "name": "value",
                                                    "label": "Value",
                                                    "type": "text"
                                                }
                                            ]
                                        }
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Body content type",
                                        "validate": {
                                            "enum": [
                                                "json",
                                                "multipart",
                                                "urlEncoded",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseResponse",
                                        "type": "boolean",
                                        "label": "Parse response",
                                        "required": true
                                    },
                                    {
                                        "name": "stopOnHttpError",
                                        "type": "boolean",
                                        "label": "Return error if HTTP request fails",
                                        "required": true
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout",
                                        "validate": {
                                            "min": 1,
                                            "max": 300
                                        }
                                    },
                                    {
                                        "name": "allowRedirects",
                                        "type": "boolean",
                                        "label": "Allow redirects",
                                        "required": true
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    },
                                    {
                                        "name": "requestCompressedContent",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    },
                                    {
                                        "name": "paginationType",
                                        "type": "select",
                                        "label": "Pagination type",
                                        "validate": {
                                            "enum": [
                                                "offsetBased",
                                                "pageBased",
                                                "urlBased",
                                                "tokenBased"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "data",
                                        "label": "Data",
                                        "type": "any"
                                    },
                                    {
                                        "name": "statusCode",
                                        "label": "Status Code",
                                        "type": "number"
                                    },
                                    {
                                        "name": "headers",
                                        "label": "Headers",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "content-length",
                                                "label": "Content-Length",
                                                "type": "text"
                                            },
                                            {
                                                "name": "content-encoding",
                                                "label": "Content-Encoding",
                                                "type": "text"
                                            },
                                            {
                                                "name": "content-type",
                                                "label": "Content-Type",
                                                "type": "text"
                                            },
                                            {
                                                "name": "server",
                                                "label": "Server",
                                                "type": "text"
                                            },
                                            {
                                                "name": "cache-control",
                                                "label": "Cache-Control",
                                                "type": "text"
                                            },
                                            {
                                                "name": "set-cookie",
                                                "label": "Set-Cookie",
                                                "type": "array",
                                                "spec": {
                                                    "type": "text"
                                                }
                                            }
                                        ]
                                    }
                                ]
                            }
                        },
                        {
                            "id": 21,
                            "module": "buffer:ActionCreateStatus",
                            "version": 2,
                            "parameters": {
                                "account": 6963713
                            },
                            "mapper": {
                                "profileIds": "696549f5457dae6a34005d0d",
                                "text": "{{30.text}}",
                                "type": "now",
                                "useMedia": false,
                                "shorten": true,
                                "attachment": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 0
                                },
                                "restore": {
                                    "parameters": {
                                        "account": {
                                            "label": "My Buffer connection (lennis-brown)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "buffer"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "profileIds": {
                                            "mode": "edit"
                                        },
                                        "type": {
                                            "label": "Post immediately "
                                        },
                                        "shorten": {
                                            "mode": "chose"
                                        },
                                        "attachment": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:buffer",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "profileIds",
                                        "type": "select",
                                        "label": "Profiles",
                                        "required": true,
                                        "multiple": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Publication",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "now",
                                                "top",
                                                "queue",
                                                "scheduled"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "useMedia",
                                        "type": "boolean",
                                        "label": "Attach media to the update",
                                        "required": true
                                    },
                                    {
                                        "name": "shorten",
                                        "type": "boolean",
                                        "label": "Shorten links within text",
                                        "required": true
                                    },
                                    {
                                        "name": "attachment",
                                        "type": "boolean",
                                        "label": "Attach links in the text as media",
                                        "required": true
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 22,
                            "module": "google-sheets:updateCell",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 6285186
                            },
                            "mapper": {
                                "cell": "F2",
                                "from": "drive",
                                "value": "Published",
                                "select": "list",
                                "sheetId": "Posts Queue",
                                "spreadsheetId": "/1IZ_U_MYMVit_rLk4ySNBQqPPH2pDIrKVjgy_SDKNFkI",
                                "valueInputOption": "USER_ENTERED"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "select": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Posts Queue"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                " LinkedIn Content Calendar"
                                            ]
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (lennismbrown@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "list",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "cell",
                                        "type": "text",
                                        "label": "Cell",
                                        "required": true
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 19,
                            "module": "google-sheets:updateCell",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 6285186
                            },
                            "filter": {
                                "name": "Error Path",
                                "conditions": []
                            },
                            "mapper": {
                                "cell": "F2",
                                "value": "Error - Check Logs",
                                "select": "fromAll",
                                "sheetId": "Posts Queue",
                                "spreadsheetId": "1IZ_U_MYMVit_rLk4ySNBQqPPH2pDIrKVjgy_SDKNFkI",
                                "valueInputOption": "USER_ENTERED"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "select": {
                                            "label": "Select from all"
                                        },
                                        "sheetId": {
                                            "mode": "chose",
                                            "label": "Posts Queue"
                                        },
                                        "spreadsheetId": {
                                            "rpcSearch": {
                                                "label": " LinkedIn Content Calendar",
                                                "value": "1IZ_U_MYMVit_rLk4ySNBQqPPH2pDIrKVjgy_SDKNFkI"
                                            }
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (lennismbrown@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "list",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "cell",
                                        "type": "text",
                                        "label": "Cell",
                                        "required": true
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "text",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "mode": "edit",
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    },
    "io": {
        "input_spec": [
            {
                "default": 6965922,
                "label": "",
                "name": "HuggingFaceConnection",
                "type": "account:huggingface",
                "scope": []
            }
        ],
        "output_spec": []
    }
}